<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>additional data</key>
	<dict>
		<key>notesView</key>
		<integer>0</integer>
	</dict>
	<key>bookmarks</key>
	<array/>
	<key>change date</key>
	<date>2011-05-04T18:46:17Z</date>
	<key>deleted</key>
	<false/>
	<key>edit</key>
	<true/>
	<key>identifier</key>
	<string>32</string>
	<key>label</key>
	<string>28</string>
	<key>locked</key>
	<false/>
	<key>name</key>
	<string>Kapitel 30</string>
	<key>selection</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWE
		ASqEhA17X05TUmFuZ2U9SUl9loGJAwCG
		</data>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWE
		ASqEhA17X05TUmFuZ2U9SUl9loGJAwCG
		</data>
	</array>
	<key>status</key>
	<string>15</string>
	<key>timestamp</key>
	<date>2011-05-04T17:47:52Z</date>
</dict>
</plist>
