---
layout: archive
title: Archive
---

<h1>Arkiv</h1>

<form action="http://www.google.com/cse" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="008173375598823628199:yvwmq79boli" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="31" />
    <input type="submit" name="sa" value="Sök" />
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=sv"></script>

{% capture last_month %}{% endcapture %}
{% capture this_year %}{{ 'now' | date: "%Y" }}{% endcapture %}
{% capture last_year %}{{ this_year | minus: 1 }}{% endcapture %}
	
	{% for post in site.posts %}
		{% capture post_month %}{{ post.date | date: "%Y" }}{% endcapture %}
	    {% if  post_month != last_month %}
	        {% if last_month != '' %}</ul>{% endif %}
			<h2>{{ post.date | date: "%Y" }}</h2>	
	        <ul class="archivelist">
	        {% assign last_month = post_month %}
	    {% endif %}
	    <li><a href="{{ post.url }}">{{ post.title }}</a> <span class="archive-date">{{ post.date | date: "%b %d"  }}</span></li>
  	{% endfor %}